.btn {
  border: 1px solid #9ea3ad;
  border-bottom: 1px solid #9ea3ad;
  @include border-radius(3px);
  color: #505050;
  font-size: 14px;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;

  &:hover {
    opacity:.85;
    cursor: pointer;
  }

  &:active {
    border: 1px solid #20911e;
    @include box-shadow(0, 0, 10px, 5px, #356b0b);
  }

  &.submit, &.primary {
    color: #fff;
    text-shadow: 0 -1px 0 #396715;
    @include linear-gradient(#68b12f, #50911e);
    @include box-shadow(0, 1px, 0, 0, #9fd574);

    &:active {
      border: 1px solid #20911e;
      @include box-shadow(0, 0, 10px, 5px, #356b0b);
    }
  }
}
