table {
  width: 100%;
  font-size: 0.8em;

  th, td {
    padding: 8px 0;
    border-bottom: 1px solid $darkBackground;
  }

  th {
    font-weight: 600;
    text-align: left;
  }

  tbody tr:nth-child(2n+1) {
    background: #f6f4f5;
  }
}
