.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal {
  margin: 60px auto 0 auto;
  width: 600px;
  height: 400px;
  background-color: #fff;
}
