.page {
  box-sizing: border-box;

  > header {
    background-color: #000;
    height: 60px;

    a {
      color: #fff;
      text-decoration: none;
    }

    h1 {
      float: left;
      margin-top: 8px;
    }

    nav {
      float: right;
      padding-right: 20px;

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          float: left;

          a {
            display: block;
            padding: 0 20px;
            height: 60px;
            line-height: 63px;
            font-size: 14px;
            text-align: center;
            text-transform: uppercase;

            &:hover {
              background-color: grey;
            }
          }
        }
      }
    }
  }

  .container {
    width: 960px;
    margin: 0 auto;
  }
}
