.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

.page {

  header {
    border-bottom: 1px solid $darkBackground;
    padding: 0 20px;

    h1 {
      float: left;
      font-size: 1.1em;
    }

    .buttons {
      float: right;
      margin-top: 14px;
    }

    &:after {
      content: " ";
      display: table;
      clear: both;
    }
  }

  #navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    height: 100%;
    background-color: #222729;
    box-shadow: inset -0.25em 0 0.25em 0 rgba(0,0,0,0.125);
    color: #fff;
    text-align: right;
    font-size: 17pt;

    nav ul {
      list-style: none;
      padding: 0;

      li a {
        display: block;
        padding: 0.5em 1.5em 0.5em 1.5em;
        color: rgba(255, 255, 255, 0.5);
        text-decoration: none;
        outline: 0;
        border: 0;

        span {
          position: relative;
          display: block;
          font-size: 0.8em;

          &:before {
            position: absolute;
            left: 0;
            color: $darkBackground;
            text-align: center;
            width: 1.25em;
          }
        }

        &.active {
          background: rgba(0,0,0,0.15);
          box-shadow: inset 0 0 0.25em 0 rgba(0,0,0,0.125);
          color: #fff;

          span:before {
            color: $primaryHighlight;
          }
        }
      }
    }

  }

  #main {
    margin-left: 260px;

    .body {
      clear: both;
      padding: 20px;
    }
  }
}
