<div class="page">
  <section id="navigation" class="container">
    <div class="top">
      <!--<div id="profile">-->
        <!--<span class="image avatar48"><img src="images/avatar.jpg" alt=""></span>-->
        <!--<h1 id="title">David Muto</h1>-->
        <!--<a href="#" {{action 'invalidateSession'}}>logout</a>-->
      <!--</div>-->

      <nav>
        <ul>
          <li><a class="active" href="#"><span class="fa fa-home">Home</span></a></li>
          <li><a href="#"><span class="fa fa-github">GitHub</span></a></li>
          <li><a href="#"><span class="fa fa-th">Portfilio</span></a></li>
        </ul>
      </nav>
    </div>
    <div class="bottom">
      <a href="#" {{action 'invalidateSession'}}>logout</a>
    </div>
  </section>

  <section id="main">
    {{ outlet }}
  </section>

</div>
