<div class="page">
  <header>
    <div class="container">
      <h1>pseudocms</h1>
    </div>
  </header>

  <section class="content">
    <div class="container">
      {{outlet}}
    </div>
  </section>
</div>
