{{#view Admin.LoginFormView}}
  <ul>
    <li>
      <h2>Login</h2>
      <span class="required-notification">* denotes required field</span>
    </li>
    {{#if loginFailed}}
    <li>
      <p>Invalid username or password.</p>
    </li>
    {{/if}}
    <li>
    <label for="email">Username/Email:</label>
      <input type="email" id="email" placeholder="user@example.com" required="true">
    </li>
    <li>
      <label for="password">Password:</label>
      <input type="password" id="password" required="true">
    </li>
    <li>
      <button type="submit" class="btn submit" {{bindAttr disabled="isProcessing"}}>Login</button>
      <button class="btn">Forgot Password?</button>
    </li>
  </ul>
{{/view}}
