<form method="post">
  <ul>
    <li>
      <h2>Login</h2>
      <span class="required-notification">* denotes required field</span>
    </li>
    <li>
      <label for="email">Username/Email:</label>
      <input type="email" name="email" placeholder="user@example.com" required="true">
    </li>
    <li>
      <label for="password">Password:</label>
      <input type="password" name="password" required="true">
    </li>
    <li>
      <button type="submit" class="btn submit">Login</button>
      <button class="btn">Forgot Password?</button>
    </li>
  </ul>
</form>
