{{#modal-dialog}}
  <h3>My Model Content</h3>
  <p>Put anything you like in here...</p>

  <div class="buttons">
    <a href="#" class="btn primary" {{action "close"}}>Close</a>
  </div>
{{/modal-dialog}}
