<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>pseudocms: home</title>
    <%= stylesheet_link_tag 'admin', media: 'all' %>
  </head>
  <body>
    <%= yield %>

    <%= javascript_include_tag 'admin/admin' %>
  </body>
</html>
